html, body {
    padding: 0;
    margin: 0;
}

h2, p, li, ul {
    font-family: 'Trebuchet MS', Verdana;
}

.banner {
    color: white;
    background-color: rgb(158, 181, 205);
    padding: 6px;
    margin-top: -4px;
    text-align: center;
    border-bottom: 5px solid black;
    font-size: 50px;
    font-family: "Trattatello";
}

.logo {
    margin-top: 20px;
    margin-bottom: -35px;
}

.pagetitle {
    margin-bottom: 18px;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
    margin-bottom: 50px;
}

h2, p {
    margin-left: 5px;
}

.list {
    font-weight: bold;
}

.hplinks {
    font-weight: bold;
    text-align: center;
}

.hprecipe {
    display: inline-block;
    height: 250px;
    width: 300px;
    background-color: rgb(158, 181, 205, 0.2);
    margin-right: 40px;
}

.hpimage {
    margin-top: 20px;
    margin-bottom: 22px;
}

a:visited,
a:link {
    text-decoration: none;
    color: black;
    background-color: rgb(158, 181, 205);
    padding: 30px;
    display: block;
}

a:hover {
    background-color: rgb(147, 200, 240);
}

.bottomlinks {
    text-align: right;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}