html {
    font-family: 'Trebuchet MS', Verdana;
}

.page-title {
    color: white;
    background-color: rgb(108, 152, 197);
    text-align: center;
}

.list {
    font-weight: bold;
}

.hplinks {
    list-style-type: none;
    margin-left: -1em;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
}

.bottomlinks {
    text-align: right;
}